* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenitore{
   position: relative;
   width: 912px;
   height: auto;
   margin: 10px auto
  }


.immagini{
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 15px;
}


img{
  width: 200px;
  height: 200px;
}



  .sconto{
    position: absolute;
    background-color: green;
    top: 0px;
    right: 0px



  }

  .sconto2{
    position: absolute;
    background-color: red;
    width: auto;
    height: auto;
    top: 0px;
    right: 0px;

  }

  .cuore{
    position: absolute;
    right: 95px;
    color: red;
    display: none;

  }

  .immagini:hover .cuore{
    color: red;
    display: block;
  }
